<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration
    xmlns:log4j="http://jakarta.apache.org/log4j/"
    debug="false">

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %5p [%c] %m%n" />
        </layout>
    </appender>

    <appender name="FRAMEWORK-INFO-DAILY" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="C:/Eclipse/log/skysoftEdu-2-5/framework-info.log"/>
        <param name="Append" value="true"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%-17c] %m%n"/>
        </layout>
    </appender>

    <appender name="APP-INFO-DAILY" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="C:/Eclipse/log/skysoftEdu-2-5/app-info.log"/>
        <param name="Append" value="true"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%-17c] %m%n"/>
        </layout>
    </appender>

    <appender name="JDBC-TRACE-DAILY" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="C:/Eclipse/log/skysoftEdu-2-5/jdbc-trace.log"/>
        <param name="Append" value="true"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%-17c] %m%n"/>
        </layout>
    </appender>

    <appender name="EXECUTE-INFO-DAILY" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="C:/Eclipse/log/skysoftEdu-2-5/exec-info.log"/>
        <param name="Append" value="true"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%-17c] %m%n"/>
        </layout>
    </appender>

    <appender name="EXCEPTION-INFO-DAILY" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="C:/Eclipse/log/skysoftEdu-2-5/exception-info.log"/>
        <param name="Append" value="true"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%-17c] %m%n"/>
        </layout>
    </appender>

    <appender name="ACCESS-LOG-DAILY" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="C:/Eclipse/log/skysoftEdu-2-5/access-log.log"/>
        <param name="Append" value="true"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%-17c] %m%n"/>
        </layout>
    </appender>

	<appender name="fileSQL" class="org.apache.log4j.FileAppender">
		<param name="File" value="C:/Eclipse/log/skysoftEdu-2-5/sql-log.log" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>

    <logger name="java.sql" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="console"/>
    </logger>

	<!-- log SQL with timing information, post execution -->
	<logger name="jdbc.sqltiming" additivity="false">
		<level value="INFO" />
		<appender-ref ref="fileSQL" />
	</logger>

    <logger name="egovframework.dev" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="APP-INFO-DAILY"/>
    </logger>

    <logger name="egovframework.framework" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="FRAMEWORK-INFO-DAILY"/>
    </logger>

    <logger name="egovframework" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="FRAMEWORK-INFO-DAILY"/>
    </logger>

	<logger name="org.springframework" additivity="false">
		<level value="WARN" />
		<appender-ref ref="FRAMEWORK-INFO-DAILY"/>
	</logger>

    <logger name="execinfoLogger" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="EXECUTE-INFO-DAILY"/>
    </logger>

    <logger name="exceptionLogger" additivity="false">
        <level value="WARN"/>
        <appender-ref ref="EXCEPTION-INFO-DAILY"/>
    </logger>

    <logger name="aceessLogLogger" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="ACCESS-LOG-DAILY"/>
    </logger>

	<root>
		 <level value="ON" />
		<appender-ref ref="console" />
	</root>

</log4j:configuration>
