@charset "utf-8";
/*****************************************************************
□ 회사명 : (주)하늘연소프트
□ 작업자 : 
□ CSS명 : board.css
□ 최종 수정날짜 : 2011.11.01
□ 주제 : CSS를 이용한 버튼 스타일, 사용은 안하지만 일단 만들어 놓은 것임.
□ 규칙 :
		<div class="btn">
			<img src="/images/common/btn/btn_apply.gif">
			<a href="#" class="gray"><strong>확인</strong></a>
			<a href="#" class="blue"><strong>확인</strong></a>
			<span class="gray"><input type="submit" value="심리검사 상담하기" /></span>
			<span class="blue"><input type="submit" value="확인" /></span>
		</div>
*****************************************************************/



/* ♤♤♤♤♤ 버튼 정렬 세팅 ♤♤♤♤♤ */
.btn {text-align:right; clear:both}
.btn * {vertical-align:top}
.btn div {float:left}
.btn input,.btn strong,.btn span {cursor:pointer}



/* ♤♤♤♤♤ 버튼 기본 세팅 ♤♤♤♤♤ */
#content .btn a,#content .btn span {display:inline-block; padding-left:3px; line-height:25px; word-spacing:-1px; text-decoration:none; white-space:nowrap}
#content .btn a strong,#content .btn span input {position:static; display:block; padding:0 14px 0 12px; border:none; overflow:visible; font-family:dotum; font-size:11px; font-weight:bold; color:#fff; letter-spacing:-1px}
#content .btn span input {float:left; height:25px}
#content .btn span, x:-moz-any-link, x:default {position:relative; top:-2px; background-position:left 2px!important; height:27px; *position:static; *background-position:0 0!important}
#content .btn span input, x:-moz-any-link, x:default {height:27px; padding:0 11px 0 9px; line-height:1.8; background-position:right 2px!important; *height:25px; *background-position:right 0!important; *padding:0 14px 0 12px}
	/* 회색 */
	.btn a.gray,#content .btn span.gray {background:url("/images/common/btn/btn_gray01.gif") no-repeat;}
	.btn a.gray strong,#content .btn span.gray input {background:url("/images/common/btn/btn_gray02.gif") no-repeat right;}
	/* 파랑색 */
	.btn a.blue,#content .btn span.blue {background:url("/images/common/btn/btn_blue01.gif") no-repeat;}
	.btn a.blue strong,#content .btn span.blue input {background:url("/images/common/btn/btn_blue02.gif") no-repeat right;}